<!DOCTYPE html>
<html lang="fr">

<head>
    <title>Vue.js Game</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <script type="text/javascript" src="./js/vue.js"></script>

    <link rel="stylesheet" type="text/css" href="./bower_components/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="./bower_components/font-awesome/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="./css/main.css">
</head>

<body>
    <div id="app" class="container text-center">
        <div class="row">
            <div class="col-xs-6">
                <h2>Player</h2>
                <div class="lp-bar">
                    <div class="lp" :style="{width: playerLP + '%'}">{{ playerLP }}</div>
                </div>
            </div>
            <div class="col-xs-6">
                <h2>Opponent</h2>
                <div class="lp-bar">
                    <div class="lp" :style="{width: opponentLP + '%'}">{{ opponentLP }}</div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-xs-12">
                <div class="controls">
                    <div class="row">
                        <div class="col-xs-10 col-xs-offset-1 col-sm-6 col-sm-offset-3" v-if="!gameRunning">
                            <button type="button" @click='changeGameStatus' class="btn btn-primary"><p><i class="fa fa-gamepad"></i>START NEW GAME<i class="fa fa-gamepad"></i></p></button>
                        </div>
                        <div class="col-xs-12" v-else>
                            <div class="col-xs-12 col-sm-6 col-lg-3">
                                <button type="button" class="btn btn-primary" id="attack" @click='attack'><p><i class="fa fa-gavel"></i>ATTACK (1 - 5 DP)<i class="fa fa-gavel"></i></p></button>
                            </div>
                            <div class="col-xs-12 col-sm-6 col-lg-3">
                                <button type="button" class="btn btn-warning" id="specialAttack" @click='specialAttack'><p><i class="fa fa-rocket"></i>SPECIAL (3 - 8 DP)<i class="fa fa-rocket"></i></p></button>
                            </div>
                            <div class="col-xs-12 col-sm-6 col-lg-3">
                                <button type="button" class="btn btn-success" id="heal" @click='heal'><p><i class="fa fa-shield"></i>HEAL (3 - 6 HP)<i class="fa fa-shield"></i></p></button>
                            </div>
                            <div class="col-xs-12 col-sm-6 col-lg-3">
                                <button type="button" class="btn btn-danger" id="giveUp" @click='changeGameStatus'><p><i class="fa fa-times-circle"></i>GIVE UP<i class="fa fa-times-circle"></i></p></button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-xs-12">
                <div class="feedbacks" v-for="feedback in feedbacks">
                    <p class="feedback-opponent">Opponent : <b>{{ feedback.opponentDP }} DP</b><i class="fa fa-gavel"></i></p>
                    <p class="feedback-player">
                        <span v-if="feedback.playerHP > 0">Player : <b>{{ feedback.playerHP }} LP</b><i class="fa fa-shield"></i></span>
                        <span v-else>Player : <b>{{ feedback.playerDP }} DP</b><i class="fa fa-gavel"></i></span>
                    </p>
                </div>
                <p v-for="feedback in feedbacks" class="feedback">{{ feedback.content }}</p>
            </div>
        </div>
    </div>

    <script type="text/javascript" src="./js/app.js"></script>
</body>

</html>